/* Importar normalize.css desde CDNJS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para index.js */
.calculator {
  height: 100dvh;
  padding: 30px;

  /* GRID 7 / 1 (7 rows, 1 column) */
  display: grid;
  grid-template-columns: 100%;
  /* dar valor fijo para que no se muevan, los 3 de arriba se autoajustan y los otros se crean fijos */
  grid-template-rows: repeat(3, auto) repeat(4, 1fr);
  gap: 50px;
}

html{
    font-family: sans-serif;
    background: #e0e0e0;
    color: #333;
}
.calculator__title {
    text-align: center;
    font-size: 1.8rem;

}
.calculator__random-numbers {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.calculator__random-number {
  font-size: 5rem;
  font-weight: bold;
  /* hay que hacer display block porque si no no podemos hacer el border radous */
  display: block; 
  width: 150px;
  height: 150px;
  color: #222;
  background: #f3f3f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.calculator__random-number--left {
}
.calculator__random-number--right {
}

.calculator__button--new {
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px dashed #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* para que no ocupe todo el espacio del grid */
    justify-self: center;
    align-self: center;
    padding: 10px 20px;
}
.calculator__results {
    padding: 0 10px;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}
.calculator__results--sum-sub {
}
.calculator__result {
}
.calculator__result--sum {
}
.calculator__result--sub {
}
.calculator__buttons {
  display: flex;
  justify-content: space-between;

}
.calculator__button{
    /* para poder cogerlos */
    align-self:center;
    padding: 15px 30px;
    background-color: transparent;
    border: 4px solid #333;
    box-shadow: 7px 10px  0px #333;
    color:#333;
}
.calculator__buttons--sum-sub {
}
.calculator__button--sum {
}
.calculator__button--sub {
}
.calculator__results--mul-div {
}
.calculator__result--mul {
}
.calculator__result--div {
}
.calculator__buttons--mul-div {
}
.calculator__button--mul {
}
.calculator__button--div {
}
