/* Importar normalize.css desde CDNJS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

:root {
  --color-dark: #333;
  --spacing-30: 30px;
  --size-circle: 130px;
  --spacing-10: 10px;
  --spacing-20: 20px;
  --color-transparent: transparent;
  --align-center: center;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para index.js */
.calculator {
  height: 100dvh;
  padding: var(--spacing-30);

  /* GRID 7 / 1 (7 rows, 1 column) */
  display: grid;
  grid-template-columns: 100%;
  /* dar valor fijo para que no se muevan, los 3 de arriba se autoajustan y los otros se crean fijos */
  grid-template-rows: repeat(3, auto) repeat(4, 1fr);
  gap: 25px;
}

html{
    font-family: sans-serif;
    background: #e0e0e0;
    color: var(--color-dark);
}
.calculator__title {
    text-align: center;
    font-size: 1.8rem;

}
.calculator__random-numbers {
  display: flex;
  justify-content: center;
  gap: var(--spacing-30);
}
.calculator__random-number {
  font-size: 4rem;
  font-weight: bold;
  /* hay que hacer display block o display flex porque si no no podemos hacer el border radous */
  /* display: block;  */
  width: var(--size-circle);
  height: var(--size-circle);
  color: #222;
  background: #f3f3f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}


.calculator__button--new {
    font-size: 1.2rem;
    background-color: var(--color-transparent);
    border: 2px dashed #fff;
    border-radius: var(--spacing-20);
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* para que no ocupe todo el espacio del grid */
    justify-self: center;
    align-self: center;
    padding: var(--spacing-10) var(--spacing-20);
}
.calculator__results {
    padding: 0 var(--spacing-10);
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}

.calculator__buttons {
  display: flex;
  justify-content: space-between;

}
.calculator__button{
    /* para poder darle menos espacio del que ocupan en el grid */
    align-self: center;
    padding: 15px 30px;
    background-color: var(--color-transparent);
    border: 4px solid var(--color-dark);
    box-shadow: 7px 10px  0px var(--color-dark);
    color:var(--color-dark);
}
